/* style.css */
/* Base styles for mobile devices */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;  /* Base font size for mobiles */
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4CAF50;
  --secondary-color: #f4f4f4;
  --text-color: #333;
  --padding: 15px;
  --border-radius: 8px;
}



header {
  background-color: var(--primary-color);
  color: white;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
}
main {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 2 columns: 1 part and 2 parts */
  gap: 20px; /* space between columns */
  padding: 20px;
}
/* section {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
} */
section {
  background-color: var(--secondary-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  color: var(--text-color);
}
/* For screens wider than 768px (tablet and desktop) */
@media (min-width: 768px) {
  body {
    font-size: 20px; /* Increase font size on bigger screens */
  }

 
  }


